
 .navbar {    
   background: #2C3E50;  
   text-transform: uppercase;
   font-weight: 700;   
   border: none;    
 }
 .navbar .navbar-brand {
   color: white;    
 }
 .navbar .navbar-brand:hover{
   color: white;
 }  

 .navbar .navbar-nav li a {
   color: white;
 }
 .navbar .navbar-nav li a:hover {
   color: #15C2D2;
 }
 
 .navbar-toggle{
   color: #fff;
   border: 2px solid #fff;
 }   

 header {
   background: #15C2D2;
   color: white;
 }   
 header img {    
   display: block;
   margin: 0 auto 20px;
 }   
 header .container {   
   padding-top: 100px;   
   padding-bottom: 100px;    
 }   
 header .intro-text .name {
   font-size: 3.75em;
 }   
 header .intro-text .skills {
   font-size: 1.75em;
 }
     
 header .portrait {
   height: 200px;
 }   
   
 section {   
   padding: 100px 0;   
 }   
 section h2 {
   margin: 0;    
   font-size: 3em;   
 }   
 section.about {   
   background: #15C2D2;    
   color: white;   
 }   
     
 section.about .btn-outline {    
     color: #fff;    
     font-size: 20px;    
     border: 2px solid #fff;   
     background: 0 0;    
     transition: all .3s ease-in-out;    
     margin-top: 15px;   
 }   
           
 #portfolio .portfolio-item  {   
   display: block;   
   position: relative;   
   max-width: 400px;   
   margin: 0 0 15px;   
 }   
 #portfolio .portfolio-item img {    
   width: 100%;    
   height: 200px;    
 }   

     
 footer {    
   color: white;   
 }   
 footer h3 {   
   margin-bottom: 30px;    
 }   
 footer .footer-above {    
   padding-top: 50px;    
   background-color: #2C3E50;    
 }   
 footer .footer-col {    
   margin-bottom: 50px;    
 }   
 footer .footer-below {    
   padding: 25px 0;    
   background-color: #233140;    
 }   
     
 .btn-outline {    
     color: #15C2D2;   
     font-size: 20px;    
     border: 2px solid #15C2D2;    
     background: 0 0;    
     transition: all .3s ease-in-out;    
     margin-top: 15px;   
 }   
     
 .btn-social {   
   display: inline-block;    
   height: 50px;   
   width: 50px;    
   border: 2px solid #15C2D2;    
   border-radius: 100%;    
   text-align: center;   
   font-size: 20px;      
 }

 .btn-social i {
    line-height: 45px;
 }
